@import '../../index.scss';

.input-group {
	display: block;
	margin-bottom: 16px;
	margin: 0 spacing(md) spacing(sm);
	padding: spacing(sm) spacing(md);

	&:after{
		content: "";
		clear: both;
		height: 0;
		visibility: hidden;
		display: block;
	}

	label {
		font-weight: 700;
		font-size: 12px;
		display: inline-block;
		margin-bottom: spacing(sm);
	}

	input,
	button{
		@include mq('tablet-wide'){
			width: 100%;
		}
	}

	input {
		float: left;
		width: 68%;
		margin-right: spacing(sm);
		border-radius: border-radius(md);
		padding: spacing(sm) spacing(md);
		border: 0;
		font-family: inherit;
		font-weight: inherit;
		color: inherit;
		box-shadow: shadow(1);
		background: var(--component--bg-accent);
		transition: all 120ms ease-out 0s;

		&::placeholder {
			opacity: .4;
			color: inherit;
		}
		&:focus, &:active {
			outline: 0;
			box-shadow: 0px 0px 0px 2px var(--primary);
		}
	}

	button{
		float: left;
		width: 20%;
	}
}