//@import '../../index.scss';

.input-group {
	display: block;
	margin: 16px auto;

	&:after{
		content: "";
		clear: both;
		height: 0;
		visibility: hidden;
		display: block;
	}

	label {
		font-weight: 700;
		font-size: 12px;
		display: inline-block;
		margin-bottom: 8px;
	}

	input,
	button{
		float: left;
	}

	input {
		width: calc(100% - 160px);
		border-radius: .5rem;
		padding: 8px 16px;
		border: 0;
		font-family: inherit;
		font-weight: inherit;
		color: inherit;
		box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
		background: #f6f8fa;
		transition: all 120ms ease-out 0s;

		&::placeholder {
			opacity: .4;
			color: inherit;
		}
		&:focus, &:active {
			outline: 0;
			box-shadow: 0px 0px 0px 2px #408FEC;
		}
	}

	button{
		margin-left: 8px;
	}
}