// FONT
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC:400,700');
$noto-sc: Noto Sans SC, sans-serif;

// https://coolors.co/5bc0eb-fde74c-9bc53d-fa7921-d64141
// CSS Variables
////////////////
// COLORS
:root {
	--blue: #408FEC;
	--blue--accent: #A1CAFA;
	--blue--light: #8EBDF1;
	--blue--lightest: #F6FAFF;

	--purple: #79589F;
	--purple--accent: #AC8ECE;
	--purple--light: #A997BF;
	--purple--lightest: #F7F3FB;
	
	--green: #74C080;
	--green--accent: #ADE28F;
	--green--light: #ABD7B4;
	--green--lightest: #F8FCF9;
	
	--orange: #FA9F47;
	--orange--accent: #FFD3A0;
	--orange--light: #FBC595;
	--orange--lightest: #FFFAF6;
	
	--red: #D64141;
	--red--accent: #F37A65;
	--red--light: #E58F8F;
	--red--lightest: #FDF6F6;
	
	--gray--1000: #14171B;
	--gray--900: #24292e;
	--gray--800: #2f363d;
	--gray--700: #444d56;
	--gray--600: #586069;
	--gray--500: #6a737d;
	--gray--400: #959da5;
	--gray--300: #d1d5da;
	--gray--200: #e1e4e8;
	--gray--100: #f6f8fa;
	
	--black: #000000;
	--white: #ffffff;

	--black--50: rgba(0,0,0,.5);
	--black--20: rgba(0,0,0,.2);
	--black--10: rgba(0,0,0,.1);
	--black--5: rgba(0,0,0,.05);
	
	--brand--dark: #211746;
	--brand: #430098;
	--brand--light: #7673C0;
	
	--accent--dark: #032E61;
	--accent: var(--blue);
	--accent--light: var(--blue--light);
	
	--primary: var(--purple);
	--primary--accent: var(--purple--accent);
	--primary--light: var(--purple--light);
	
	--danger: var(--red);
	--danger--accent: var(--red--accent);
	--danger--light: var(--red--light);
	
	--warning: var(--orange);
	--warning--accent: var(--orange--accent);
	--warning--light: var(--orange--light);
	
	--success: var(--green);
	--success--accent: var(--green--accent);
	--success--light: var(--green--light);
	
	--info: var(--blue);
	--info--accent: var(--blue--accent);
	--info--light: var(--blue--light);
	
	--default: var(--gray--600);
	--default--accent: var(--gray--600);
	--default--light: var(--gray--500);
	
	--root--bg: var(--gray--100);
	--root--color: var(--gray--900);
	--root--color-secondary: var(--gray--700);
	--root--font: 'Yantramanav';
	--root--text-size: 1rem; // 16px
	
	--component--bg: var(--white);
	--component--bg-accent: var(--gray--100);
}

:root.theme--dark {
	--root--bg: var(--gray--1000);
	--root--color: var(--gray--100);
	--root--color-secondary: var(--gray--400);
	
	--component--bg: var(--gray--900);
	--component--bg-accent: var(--gray--800);
}

// Design Token Maps
$states: (
	primary: primary,
	success: success,
	danger: danger,
	warning: warning,
	info: info,
	default: default
);

$spacing-unit: 8px;

$spacing: (
	xs: $spacing-unit/2,
	sm: $spacing-unit,
	md: $spacing-unit*2,
	lg: $spacing-unit*4,
	xl: $spacing-unit*8,
);

$border-radius: (
	sm: .3rem,
	md: .5rem,
	lg: .7rem
);

$text-sizes: (
	xs: .67em,
	sm: .78em,
	md: var(--root--text-size),
	lg: 1.22em,
	xl: 1.44em,
	xxl: 2em,
);

$elevation: (
	0: 0,
	1: 0px 0px 0px 1px rgba(black, .1),
	2: 0px 3px 6px 1px rgba(black, .1),
	3: 0px 5px 12px 2px rgba(black, .1),
	4: 0px 12px 25px 4px rgba(black, .1),
	5: 0px 18px 36px 6px rgba(black, .1)
);

// Functions
@function text-size($size) {
	@if(map-get($text-sizes, $size)) {
		@return map-get($text-sizes, $size);
	}
	@else {
		@warn "That spacing size does not exist."
	}
};

@function spacing($size) {
	@if(map-get($spacing, $size)) {
		@return map-get($spacing, $size);
	}
	@else {
		@warn "That spacing size does not exist."
	}
};

@function border-radius($size) {
	@if(map-get($border-radius, $size)) {
		@return map-get($border-radius, $size);
	}
	@else {
		@warn "That radius size does not exist."
	}
};

@function shadow($size) {
	@if(map-get($elevation, $size)) {
		@return map-get($elevation, $size);
	}
	@else {
		@warn "That elevation size does not exist."
	}
};

// BASE
body {
  margin: 0 auto;
  padding: 0;
  font: 100% $noto-sc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  max-width: 800px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

section {
  float: left;
  width: 50%;

  @media screen and (max-width: 768px){
	  float: none!important;
	  width: 100%;
  }
}

// BUTTONS
button{
  font: 100% $noto-sc;
  border: 0;
	border-radius: border-radius(sm);
	padding: spacing(xs) spacing(md);
  font-size: text-size(md);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: auto;
  text-align: center;
  transition: all 120ms;
  opacity: 0.7;
}
.btn-done {
  background: linear-gradient(to right, #F37A65, #e61f1f);
  color: #fff;
  box-shadow: shadow(2), shadow(3);
  text-shadow: 0px 2px 2px hsla(0, 0, 0, .6);

  &:hover,
  &:focus {
    background: linear-gradient(to right, #E58F8F, #e61f1f);
  }
}

@media screen and (max-width: 420px) {
  section {
    float: none;
    width: 100%;
  }
}